.App {
  text-align: left;
  background-color: #ebf0f2;
}

/* .Container-Col{
  margin-top:100px;
} */

.cutegraphic{
  height:15%;
  margin-top:20%;
  justify-content: center;
  display:flex;
  
}

.Button{
  color:white;
}

.intro{
  padding:10%;;
}


.intro-h1{
  font-size: small;
}
